/* tag selector */
body{
    background-color: pink;
}
/* กำหนดไข่ปลา */
hr{
border-style: none;
border-top-style: dotted;
border-color: black;
border-width: 6px;
width: 5%;
} 

h1{
    color: green;
}
p{
    color: orangered;
}
img{
    background-color: blue;
}

/* class selector */
.broccoli{
    background-color: yellow;
}
.circular{
    border-radius: 100%;
}
/* id ให้ใช้#  */
#heading{
    color: red;
}